body {
  background-color: #252525;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #dea300;
}

main {
  padding: 20px;
  background-color: rgb(231, 231, 231);
}

section > p {
  display: none;
}

footer {
  background-color: #edae00;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  #mobile-device {
    display: block;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  #tablet-device {
    display: block;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #laptop-device {
    display: block;
  }
}

@media screen and (min-width: 993px) {
  #desktop-device {
    display: block;
  }
}
